.splash-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.splash-header {
  width: 100%;
  position: relative;
  background: url('../../assets/background_imgs/splash-header.jpg');
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  color: white;
}

.login-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 40px;
}

.login-buttons-container {
  width: 230px;
  display: flex;
  justify-content: space-between;
}

.login-buttons-container > button {
  padding: 10px 25px;
  background-color: transparent;
  color: white;
  border: 1.3px solid white;
  border-radius: 5px;
}

.login-buttons-container > button:hover {
  background-color: white;
  color: rgb(0, 6, 29);
  transition: .2s;
}

.splash-header-body {
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
}

.splash-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-color: rgb(230, 230, 230);
}

.splash-body > h2 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.splash-body-main {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.splash-features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

.splash-features-container > div {
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.splash-features-container > div > div {
  letter-spacing: .8px;
  text-transform: uppercase;
  line-height: 22px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
